body {
    font-family: DuffyScriptRegular, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
}

.title {
    font-family: DuffyScriptDemiBold, sans-serif;
    font-size: 4em;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1px;
    background-color: white;
    border: none;
}

.grid div {
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    background: white;
    text-align: center;
    border: none;
}

.grid a {
    display: inline-block;
    border: 2px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: green;
    cursor: pointer;
}

.grid .invisible {
    visibility: hidden;
}

.link {
    text-align: center;
    margin-top: 10px;
    font-size: 2em;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
/*    max-width: 700px; */
    max-width: 40vw;
}

/* Add Animation */
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.4s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from { -webkit-transform: scale(0); }
    to { -webkit-transform: scale(1); }
}

@keyframes zoom {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}